# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Builds
/dist/
/apps/web/dist/
/build/
/.turbo/
/.next/
/out/

# OS
.DS_Store

# iOS (Capacitor)
apps/mobile/ios/Pods/
apps/mobile/ios/App/*.xcworkspace/xcuserdata/
apps/mobile/ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/

# Editor
.vscode/
.idea/
